<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>    
    </div>

    <!-- content end -->

    {% include footer.html %}

    <div class="bottom-closer">
        <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})" {% endif %}>
            Image
        </div>
        <div class="inner">
            <h1 class="blog-title">{{ site.title }}</h1>
            <h2 class="blog-description">{{ site.description }}</h2>
            <a href="/" class="btn">Back to Overview</a>
        </div>
    </div>
    
    {% include javascripts.html %}

  </body>

</html>
